<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamin.manslove">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 移除开机启动 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <!-- 配置权限 -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 如果使用积分墙广告,还需要配置下面权限 -->


    <!--
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission
        android:name="android.permission.PACKAGE_USAGE_STATS"
        tools:ignore="ProtectedPermissions" />
    -->


    <!-- 以下为可选权限 -->
    <uses-permission android:name="com.android.launcher.permission.INSTALL_SHORTCUT" />

    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".view.MainActivity"
            android:screenOrientation="portrait">

            <!-- <intent-filter> -->
            <!-- <action android:name="android.intent.action.MAIN" /> -->


            <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
            <!-- </intent-filter> -->

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.search.SearchActivity" />
        </activity>
        <!-- <activity -->
        <!-- android:name=".test.TestActivity" -->
        <!-- android:screenOrientation="portrait"> -->
        <!-- <intent-filter> -->
        <!-- <action android:name="android.intent.action.MAIN" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->


        <!-- <meta-data -->
        <!-- android:name="android.app.default_searchable" -->
        <!-- android:value=".view.search.SearchActivity" /> -->
        <!-- </activity> -->

        <service
            android:name=".service.NetWorkService"
            android:enabled="true"
            android:exported="true" />

        <!-- <receiver android:name=".service.BootBroadCastReceiver"> -->
        <!-- <intent-filter android:priority="1000"> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".view.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.DetailActivity"
            android:label="@string/title_activity_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />

        <!-- 讯飞 -->
        <service android:name="com.iflytek.voiceads.update.DownloadService" />

        <activity
            android:name="com.iflytek.voiceads.request.IFLYBrowser"
            android:screenOrientation="portrait" />

        <meta-data
            android:name="IFLYTEK_APPKEY_AD"
            android:value="56cffc31" />

        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d1851f67e58efc7a001b6e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.meizitu.MeiziTuActivity"
            android:label="@string/title_activity_meizi_tu"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.meizitu.MeiZiDetailActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.liebao.LiebaoActivity"
            android:label="@string/title_activity_liebao"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.liebao.LieBaoAlbumDetailActivity"
            android:label="@string/title_activity_lie_bao_album_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.huasheng.HuashengActivity"
            android:label="@string/title_activity_huasheng"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.gank.GankActivity"
            android:label="@string/title_activity_gank"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.gank.GankDetailActivity"
            android:label="@string/title_activity_gank_detail"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.jueduilingyu.JueDuiActivity"
            android:label="@string/title_activity_jue_dui"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.jueduilingyu.WebActivity"
            android:label="@string/title_activity_web"
            android:theme="@style/AppTheme" />
        <!-- <activity -->
        <!-- android:name=".test.TestActivity" -->
        <!-- android:label="@string/title_activity_test" -->
        <!-- android:theme="@style/AppTheme"></activity> -->
        <activity
            android:name=".view.lexun.LeXunActivity"
            android:label="@string/title_activity_le_xun"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.tg.TgActivity"
            android:label="@string/title_activity_tg"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.tg.TgDetailActivity"
            android:label=" "
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.main.SplashActivity"
            android:label="@string/app_name"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- 优米 -->
        <activity
            android:name="net.youmi.android.AdBrowser"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize"
            android:theme="@android:style/Theme.Light.NoTitleBar"></activity>

        <service
            android:name="net.youmi.android.AdService"
            android:exported="false"></service>

        <receiver android:name="net.youmi.android.AdReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- 有米渠道号(可选配置) 渠道号不能带空格，类型为整数 -->
        <meta-data
            android:name="YOUMI_CHANNEL"
            android:value="0"></meta-data>

        <activity
            android:name=".view.huasheng.HuaShengDetialActivity"
            android:label=""
            android:theme="@style/AppTheme"></activity>
        <activity
            android:name=".view.lexun.LeXunDetailActivity"
            android:label=""
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>