<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.adamin.manslove">

    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 移除开机启动 -->
    <!-- <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" /> -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- <uses-permission android:name="android.permission.READ_PHONE_STATE" /> -->
    <!-- <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" /> -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" /> -->
    <application
        android:name=".base.App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".view.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.default_searchable"
                android:value=".view.search.SearchActivity" />
        </activity>

        <service
            android:name=".service.NetWorkService"
            android:enabled="true"
            android:exported="true" />

        <!-- <receiver android:name=".service.BootBroadCastReceiver"> -->
        <!-- <intent-filter android:priority="1000"> -->
        <!-- <action android:name="android.intent.action.BOOT_COMPLETED" /> -->


        <!-- <category android:name="android.intent.category.LAUNCHER" /> -->
        <!-- </intent-filter> -->
        <!-- </receiver> -->

        <activity
            android:name=".view.search.SearchActivity"
            android:label="@string/title_activity_search"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.detail.DetailActivity"
            android:label="@string/title_activity_detail"
            android:theme="@style/AppTheme" />

        <!-- &lt;!&ndash; 讯飞 &ndash;&gt; -->
        <!-- <service android:name="com.iflytek.voiceads.update.DownloadService" /> -->


        <!-- <activity -->
        <!-- android:name="com.iflytek.voiceads.request.IFLYBrowser" -->
        <!-- android:screenOrientation="portrait" /> -->


        <!-- <meta-data -->
        <!-- android:name="IFLYTEK_APPKEY_AD" -->
        <!-- android:value="56cffc31" /> -->


        <!-- umeng -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="56d1851f67e58efc7a001b6e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="${UMENG_CHANNEL_VALUE}" />

        <service
            android:name="com.umeng.update.net.DownloadingService"
            android:process=":DownloadingService" />

        <activity
            android:name="com.umeng.update.UpdateDialogActivity"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".view.about.AboutActivity"
            android:label="@string/title_activity_about"
            android:theme="@style/AppTheme" />
        <activity
            android:name=".view.meizitu.MeiziTuActivity"
            android:label="@string/title_activity_meizi_tu"
            android:theme="@style/AppTheme"></activity>
    </application>

</manifest>